
<style media="screen">
  @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
</style>

<section>
  <div class="container main-content">
    <div class="row main-content">
      <div class="main-content">
        <h1>오 백 원</h1>
          <div class="main-select">
            <%= link_to '편의점', {:action => 'p_search'}, class: "btn btn-search" %>
            <%= link_to '음식점', {:action => 'r_search'}, class: "btn btn-search" %>
          </div>
      </div>
    </div>
  </div>
</section>
